/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.clear {
	clear: both;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}


$headerHeight: 60px;
$margin: 20px;
$font: sans-serif;

.section, .wrapper, body, html {
	height: 100%; width: 100%;
}

#main {
	position: fixed;
	top: 0; left: 0;
	height: $headerHeight;
	width: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0);
	li, h1 {
		line-height: $headerHeight;
		font-family: sans-serif;
		a {
			color: white;
			text-decoration: none;
		}
	}
	h1 {
		float: left;
		margin-left: 10px;
		text-indent: -99999em;
		background: url(../img/basementWhite_small.png)no-repeat center center;
		background-size: cover;
		width: 250px;
		height: 42px;
		margin-top: -60px;
		@include transition(all, 250ms, ease-out);
		position: relative;
		z-index: 15;
		a {
			span {
				opacity: .4;
			}
		}
	}
	nav {
		float: right;
		margin-right: $margin;
		li {
			float: left;
			margin-right: 20px;
			opacity: .4;
			@include transition(all, 250ms, ease-out);
			font-size: .9em;
			font-weight: 100;
		}
		li:last-of-type {
			margin-right: 0px;
		}
		li:hover {
			opacity: 1;
		}
	}
}

#splash {
	background: url(../img/bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  border-bottom: 5px solid white;
  box-sizing: border-box;
  .content {
		position: absolute;
		top: 50%; left: 50%;
		@include transform(translate(-50%,-50%));
		color: white;
		width: 80%;
		max-width: 600px;
		font-family: $font;
		z-index: 50;
		img {
			width: 100%;
		}
		p {
			margin: 15px 0px;
			font-size: 1.3em;
		}
		a {
			color: white;
			border: 1px solid white;
			padding: 15px 10px;
			margin-top: 25px;
			float: left;
			text-decoration: none;
			font-size: 3em;
		}
	}
  >p {
  	position: absolute;
  	bottom: 15px; left: 50%;
  	@include transform(translate(-50%,0));
  	color: white;
  	cursor: hand; cursor: pointer;
  	font-family: $font;
  }
  h3 {
		font-size: 1em;
		text-align: center;
		padding-top: 15px;
		font-weight: 100;
		width: auto;
		position: fixed;
		bottom: 15px; left: 50%;
		@include transform(translate(-50%,0));
		cursor: hand; cursor: pointer;
		color: white;
		font-family: $font;
	}
}
#film {
	overflow: hidden;
	position: relative;
	text-align: center;
}
video {
	position: absolute;
	top:50%; left: 50%;
	@include transform(translate(-50%,-50%));
	min-height: 101%; min-width: 101%;
	height: auto; width: auto;
}

#vision {
	background-color: rgba(255,255,255,0);
	h2 {
		color: white;
	}
	.col {
		float: left;
		width: 14.2857143%;
		img {
			width: 100%;
			margin-bottom: -5px;
		}
	}
}
#vendors {
	overflow-y: hidden;
	max-width: 1260px;
	margin: auto;
	width: 100%;
	h2 {
		color: white;
	}
	>ul {
		width: 80%;
		margin: 0px auto 150px auto;
		text-align: center;
		*:not(li){
			@include transition(all, 250ms, ease-out);
		}
		>li {
			width: 33%;
			background-color: black;
			height: 200px;
			float: left;
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
			border: 5px solid rgba(255,255,255,.4);
			color: white;
			position: relative;
			font-family: $font;
			cursor: hand; cursor: pointer;
			.content {
				position: absolute;
				top: 50%; left: 50%;
				@include transform(translate(-50%,-50%));
				width: 90%;
				opacity: 0;
				h2{
					font-size: 3.5em;
					text-decoration: underline;
					margin-bottom: 15px;
				}
				ul {
					li {
						color: rgba(255,255,255,.4);
					}
				}
				a {
					margin-top: 25px;
					padding: 3px 10px 0px 10px;
					line-height: 35px;
					border: 1px solid white;
					color: white;
					text-decoration: none;
					display: inline-block;
					font-family: $font;
				}
				a:hover {
					background-color: white;
					color: black;
				}
			}
		}
		>li:hover {
			border: 5px solid rgba(255,255,255,1);
			.content {
				opacity: 1;
			}
		}
	}
}
#floormarketplace {
	background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #marketplace {
  	height: 100%;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
	   p {
	   	font-family: $font;
	   	margin-bottom: 25px;
	   	color: white;
	   	font-size: 1.1em;
	   	line-height: 1.3em;
	   	font-weight: 100;
	   }
	   p:last-child {
	   	margin-bottom: 0px;
	   }
	  	div {
	  		width: 50%;
	  		img {
	  			width: 150px;
	  			margin: auto;
	  			display: block;
	  			margin-bottom: 55px;
	  		}
	  	}
  }
}

#contact {
	width: 100%;
	background-color: black;
	color: white;
	text-align: left;
	position: relative;
	height: 355px;
	display: flex;
  	flex-flow: row wrap;
	.map {
		width: 50%;
		height: 100%;
		overflow: hidden;
		background: url(../img/basementStaticMap.jpg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		a {
			height: 100%; width: 100%;
  			display: flex;
  			align-items: center;
  			justify-content: center;
  			text-decoration: none;
  			opacity: 0;
			@include transition(all, 250ms, ease-out);
		}
		p {
			letter-spacing: 1px;
			color: white;
			background-color: rgba(0,0,0,.8);
			padding: 15px 10px 10px 10px;
			font-family: $font;
			font-size: 1.5em;
			line-height: 25px;
			text-decoration: none;
		}
	}
	.map {
		a:hover {
			opacity: 1;
		}
	}
	.info {
		font-family: $font;
		letter-spacing: 1px;
		width: 50%;
  		display: flex;
  		align-items: center;
		p:nth-child(2) {
			margin-bottom: 25px;
		}
		p {
		margin-bottom: 5px;
		margin-left: 25px;
			a {
				color: white;
				text-decoration: none;
				cursor: hand; cursor: pointer;
			}
		}
		p:last-child {
			margin-top: 25px;
			margin-bottom: 0px;
			font-size: .8em;
			opacity: .6;
		}
	}
}






#navBtn {
	margin: $margin $margin 0px 0px;
	float: right;
	display: none;
	position: relative;
	z-index: 5;
}
#navBtn { cursor: pointer; padding: 7px 25px 8px 0px; }
#navBtn span, #navBtn span:before, #navBtn span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: rgba(255,255,255,1);
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}
#navBtn span:before {
  top: -6px; 
}
#navBtn span:after {
  bottom: -6px;
}

#navBtn span, #navBtn span:before, #navBtn span:after {
  transition: all 500ms ease-in-out;
}
#navBtn.active span {
  background: rgba(0,25,50,0);
}
#navBtn.active span:before, #navBtn.active span:after {
  top: 0px;
}
#navBtn.active span:before {
	@include transform(rotate(45deg));
}
#navBtn.active span:after {
	@include transform(rotate(-45deg));
}







@media (max-width: 1200px) {
	#vision {
		.col:nth-child(1), .col:nth-child(7), {
			display: none;
		}
		.col {
			width: 20%;
		}
	}

	#vendors {
		ul {
			>li {
				width: 50%;
				ul {
					li {
						width: 100%;
					}
				}
			}
		}
	}
}
@media (max-width: 640px) {
	#contact {
		.map, .info {
			width: 100%;
			height: 50%;
		}
	}
	#vendors {
		ul {
			li {
				width: 100%;
			}
		}
	}
	#vision {
		 .col:nth-child(1), .col:nth-child(2), .col:nth-child(6), .col:nth-child(7), {
			display: none;
		}
		.col {
			width: 33.33%;
		}
	}
	#floormarketplace{
		#marketplace {
		  	div {
		  		width: 80%;
		  	}
		}
	}
	#main {
		nav {
		width: 100%;
		position: absolute;
		top: -5px;
		padding-top: 65px;
		z-index: 0;
		ul {
			position: absolute;
			right: 0px;
			text-align: right;
			li {
				clear: both;
				margin-bottom: 5px;
				line-height: 35px;
				opacity: 1;
				font-size: 1.3em;
				@include transform(translate(105%,0));
				@include transition(all, 250ms, ease-out);
				float: right;
				text-align: right;
				margin-right: 0px;
				a {
					background-color: black;
					padding: 9px 10px 5px 10px;
					border: 1px solid white;
					box-sizing: border-box;
				}
			}
			li:hover {}
		}
	}
	nav.open {
		ul {
			li {
				@include transform(translate(0,0));	
			}
			li:nth-child(1){
				@include transition-delay(0ms);
			}
			li:nth-child(2){
				@include transition-delay(50ms);
			}
			li:nth-child(3){
				@include transition-delay(100ms);
			}
			li:nth-child(4){
				@include transition-delay(150ms);
			}
			li:nth-child(5){
				@include transition-delay(200ms);
			}
		}
	}
	}
	#navBtn {
		display: block;
	}
	#contact {
		.info {
			p {
  				font-size: .7em;
			}
		}
	}
}