/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 38, ../sass/style.scss */
.section, .wrapper, body, html {
  height: 100%;
  width: 100%;
}

/* line 42, ../sass/style.scss */
#main {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}
/* line 49, ../sass/style.scss */
#main li, #main h1 {
  line-height: 70px;
  font-family: sans-serif;
}
/* line 52, ../sass/style.scss */
#main li a, #main h1 a {
  color: white;
  text-decoration: none;
}
/* line 57, ../sass/style.scss */
#main h1 {
  float: left;
  margin-left: 10px;
  text-indent: -99999em;
  background: url(../img/logo_small.svg) no-repeat center center;
  background-size: cover;
  width: 168px;
  height: 68px;
  margin-top: -70px;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  position: relative;
  z-index: 15;
  cursor: hand;
  cursor: pointer;
}
/* line 71, ../sass/style.scss */
#main h1 a span {
  opacity: .4;
}
/* line 76, ../sass/style.scss */
#main nav {
  float: right;
  margin-right: 20px;
}
/* line 79, ../sass/style.scss */
#main nav li {
  float: left;
  margin-right: 20px;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  font-size: .9em;
  font-weight: 100;
}
/* line 85, ../sass/style.scss */
#main nav li a {
  opacity: .4;
  font-weight: 400;
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
/* line 90, ../sass/style.scss */
#main nav li a:hover {
  opacity: 1;
}
/* line 94, ../sass/style.scss */
#main nav li:last-of-type {
  margin-right: 0px;
}
/* line 97, ../sass/style.scss */
#main nav li:hover {
  opacity: 1;
}
/* line 100, ../sass/style.scss */
#main nav a.nav-active {
  opacity: 1;
}

/* line 106, ../sass/style.scss */
#splash {
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  border-bottom: 5px solid white;
  box-sizing: border-box;
}
/* line 118, ../sass/style.scss */
#splash .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  width: 80%;
  max-width: 600px;
  font-family: "Open Sans", sans-serif;
  z-index: 50;
}
/* line 127, ../sass/style.scss */
#splash .content img {
  width: 100%;
}
/* line 130, ../sass/style.scss */
#splash .content p {
  margin: 15px 0px;
  font-size: 1.3em;
}
/* line 134, ../sass/style.scss */
#splash .content a {
  color: white;
  border: 1px solid white;
  padding: 15px 10px;
  margin-top: 25px;
  float: left;
  text-decoration: none;
  font-size: 3em;
}
/* line 144, ../sass/style.scss */
#splash > p {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: white;
  cursor: hand;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
@-webkit-keyframes fontbulger {
  0%, 100% {
    bottom: 50px;
  }
  50% {
    bottom: 35px;
  }
}
/* line 160, ../sass/style.scss */
#splash h3 {
  font-size: 1em;
  text-align: center;
  padding-top: 15px;
  font-weight: 100;
  width: auto;
  position: fixed;
  bottom: 15px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  cursor: hand;
  cursor: pointer;
  color: white;
  font-family: "Open Sans", sans-serif;
  animation: fontbulger 3s infinite;
  -webkit-animation: fontbulger 3s infinite;
}
/* line 175, ../sass/style.scss */
#splash h3:after {
  content: '';
  position: absolute;
  top: 32px;
  left: 45px;
  height: 20px;
  width: 20px;
  background: url(../img/downarrow.svg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 187, ../sass/style.scss */
#film {
  overflow: hidden;
  position: relative;
  text-align: center;
}
/* line 191, ../sass/style.scss */
#film h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  color: white;
  background-color: black;
  border: 3px solid white;
  z-index: 10;
  letter-spacing: 1px;
  color: white;
  background-color: black;
  padding: 15px 10px 10px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 5em;
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
  border-radius: 50%;
  padding: 25px;
  opacity: .8;
}
/* line 211, ../sass/style.scss */
#film h2 .arrow-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid white;
  border-bottom: 25px solid transparent;
  margin-left: 10px;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
/* line 222, ../sass/style.scss */
#film h2:hover {
  padding: 35px;
  border: 1px solid white;
  opacity: 1;
}

/* line 228, ../sass/style.scss */
video {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 101%;
  min-width: 101%;
  height: auto;
  width: auto;
}

/* line 235, ../sass/style.scss */
video::-webkit-media-controls {
  display: none !important;
}

/* line 238, ../sass/style.scss */
#videoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  opacity: 0;
  display: none;
  z-index: 150;
}
/* line 246, ../sass/style.scss */
#videoOverlay .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: hand;
  cursor: pointer;
  font-size: 1.3em;
}
/* line 254, ../sass/style.scss */
#videoOverlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
}

/* line 262, ../sass/style.scss */
#vision {
  background-color: rgba(255, 255, 255, 0);
}
/* line 264, ../sass/style.scss */
#vision h2 {
  color: white;
}
/* line 267, ../sass/style.scss */
#vision .col {
  float: left;
  width: 14.2857143%;
}
/* line 270, ../sass/style.scss */
#vision .col img {
  width: 100%;
  margin-bottom: -5px;
}

/* line 276, ../sass/style.scss */
#vendors {
  overflow-y: hidden;
  max-width: 1260px;
  margin: auto;
  width: 100%;
  padding-top: 100px;
}
/* line 282, ../sass/style.scss */
#vendors h2 {
  color: white;
}
/* line 285, ../sass/style.scss */
#vendors > ul {
  width: 80%;
  margin: 0px auto 150px auto;
}
/* line 289, ../sass/style.scss */
#vendors > ul *:not(li) {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
/* line 292, ../sass/style.scss */
#vendors > ul > li {
  width: 31%;
  margin: 1%;
  background-color: black;
  height: 200px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  color: white;
  position: relative;
  font-family: "Open Sans", sans-serif;
  cursor: hand;
  cursor: pointer;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
}
/* line 312, ../sass/style.scss */
#vendors > ul > li .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  opacity: 0;
}
/* line 318, ../sass/style.scss */
#vendors > ul > li .content h2 {
  font-size: 3.5em;
  text-decoration: underline;
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
/* line 325, ../sass/style.scss */
#vendors > ul > li .content ul li {
  font-weight: bold;
  font-size: 1.9em;
  color: white;
  text-transform: uppercase;
}
/* line 332, ../sass/style.scss */
#vendors > ul > li .content a {
  margin-top: 25px;
  padding: 3px 10px 0px 10px;
  line-height: 35px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  -moz-transform: translate(0, 10px);
  -o-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
/* line 344, ../sass/style.scss */
#vendors > ul > li .content a:hover {
  background-color: white;
  color: black;
}
/* line 350, ../sass/style.scss */
#vendors > ul > li:hover {
  border: 2px solid white;
}
/* line 352, ../sass/style.scss */
#vendors > ul > li:hover .content {
  opacity: 1;
}
/* line 354, ../sass/style.scss */
#vendors > ul > li:hover .content h2 {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 357, ../sass/style.scss */
#vendors > ul > li:hover .content a {
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 362, ../sass/style.scss */
#vendors > ul > li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
/* line 371, ../sass/style.scss */
#vendors > ul > li:hover:before {
  opacity: .8;
}

/* line 376, ../sass/style.scss */
#floormarketplace {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 385, ../sass/style.scss */
#floormarketplace #marketplace {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-justify-content: center;
}
/* line 397, ../sass/style.scss */
#floormarketplace #marketplace p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
  color: white;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 100;
  text-align: center;
}
/* line 406, ../sass/style.scss */
#floormarketplace #marketplace p:first-of-type {
  font-weight: 700;
}
/* line 409, ../sass/style.scss */
#floormarketplace #marketplace p:last-child {
  margin-bottom: 0px;
}
/* line 412, ../sass/style.scss */
#floormarketplace #marketplace div {
  width: 50%;
}
/* line 414, ../sass/style.scss */
#floormarketplace #marketplace div img {
  width: 150px;
  margin: auto;
  display: block;
  margin-bottom: 25px;
}

/* line 424, ../sass/style.scss */
#contact {
  width: 100%;
  background-color: black;
  color: white;
  text-align: left;
  position: relative;
  height: 355px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
}
/* line 434, ../sass/style.scss */
#contact .map {
  width: 50%;
  height: 100%;
  overflow: hidden;
  background: url(../img/basementStaticMap.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 443, ../sass/style.scss */
#contact .map a {
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
/* line 455, ../sass/style.scss */
#contact .map p {
  letter-spacing: 1px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  line-height: 25px;
  text-decoration: none;
}
/* line 467, ../sass/style.scss */
#contact .map a:hover {
  opacity: 1;
}
/* line 471, ../sass/style.scss */
#contact .info {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 1em;
  width: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
/* line 480, ../sass/style.scss */
#contact .info p:nth-child(2), #contact .info p:nth-child(4) {
  margin-bottom: 25px;
}
/* line 483, ../sass/style.scss */
#contact .info p {
  margin-bottom: 5px;
  margin-left: 25px;
}
/* line 486, ../sass/style.scss */
#contact .info p a {
  color: white;
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
}
/* line 492, ../sass/style.scss */
#contact .info .sub {
  font-size: 10px;
  opacity: .5;
}
/* line 497, ../sass/style.scss */
#contact .info p:last-child {
  margin-bottom: 0px;
  font-size: .8em;
  opacity: .6;
}
/* line 502, ../sass/style.scss */
#contact .info .time {
  font-size: .8em;
  opacity: .8;
}
/* line 505, ../sass/style.scss */
#contact .info .time bold {
  font-weight: bold;
}
/* line 510, ../sass/style.scss */
#contact .socialIcons {
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* line 514, ../sass/style.scss */
#contact .socialIcons li {
  float: left;
  margin-right: 5px;
  margin-top: 8px;
  opacity: .6;
  width: 15px;
  height: 15px;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  font-size: .9em;
  font-weight: 100;
  position: relative;
  padding: 3px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  cursor: hand;
  cursor: pointer;
}
/* line 528, ../sass/style.scss */
#contact .socialIcons li img {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 3px;
  left: 3px;
  opacity: .5;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
/* line 536, ../sass/style.scss */
#contact .socialIcons li:last-of-type {
  margin-right: 0px;
}
/* line 539, ../sass/style.scss */
#contact .socialIcons li:hover {
  opacity: 1;
}
/* line 541, ../sass/style.scss */
#contact .socialIcons li:hover img {
  opacity: 1;
}

/* line 553, ../sass/style.scss */
#navBtn {
  margin: 20px 20px 0px 0px;
  float: right;
  display: none;
  position: relative;
  z-index: 5;
}

/* line 560, ../sass/style.scss */
#navBtn {
  cursor: pointer;
  padding: 14px 25px 8px 0px;
}

/* line 561, ../sass/style.scss */
#navBtn span, #navBtn span:before, #navBtn span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}

/* line 572, ../sass/style.scss */
#navBtn span:before {
  top: -6px;
}

/* line 575, ../sass/style.scss */
#navBtn span:after {
  bottom: -6px;
}

/* line 579, ../sass/style.scss */
#navBtn span, #navBtn span:before, #navBtn span:after {
  transition: all 500ms ease-in-out;
}

/* line 582, ../sass/style.scss */
#navBtn.active span {
  background: rgba(0, 25, 50, 0);
}

/* line 585, ../sass/style.scss */
#navBtn.active span:before, #navBtn.active span:after {
  top: 0px;
}

/* line 588, ../sass/style.scss */
#navBtn.active span:before {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 591, ../sass/style.scss */
#navBtn.active span:after {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 1200px) {
  /* line 603, ../sass/style.scss */
  #vision .col:nth-child(1), #vision .col:nth-child(7) {
    display: none;
  }
  /* line 606, ../sass/style.scss */
  #vision .col {
    width: 20%;
  }

  /* line 613, ../sass/style.scss */
  #vendors ul > li {
    width: 32%;
  }
  /* line 616, ../sass/style.scss */
  #vendors ul > li ul li {
    width: 100%;
  }

  /* line 625, ../sass/style.scss */
  #floormarketplace #marketplace div {
    width: 70%;
  }
}
@media (max-width: 900px) {
  /* line 635, ../sass/style.scss */
  #vendors ul > li {
    width: 48%;
  }
}
@media (max-width: 640px) {
  /* line 642, ../sass/style.scss */
  #splash, #floormarketplace {
    background-attachment: inherit;
  }
  /* line 644, ../sass/style.scss */
  #splash h3, #floormarketplace h3 {
    position: absolute;
  }

  /* line 648, ../sass/style.scss */
  #contact {
    height: auto;
  }
  /* line 650, ../sass/style.scss */
  #contact .map, #contact .info {
    width: 100%;
    height: 250px;
  }
  /* line 655, ../sass/style.scss */
  #contact .info p {
    font-size: .7em;
  }
  /* line 659, ../sass/style.scss */
  #contact .map {
    display: none;
  }
  /* line 661, ../sass/style.scss */
  #contact .map p {
    font-size: 1em;
    padding: 5px 10px;
  }

  /* line 669, ../sass/style.scss */
  #vendors ul li {
    width: 100%;
  }

  /* line 675, ../sass/style.scss */
  #vision .col:nth-child(1), #vision .col:nth-child(2), #vision .col:nth-child(6), #vision .col:nth-child(7) {
    display: none;
  }
  /* line 678, ../sass/style.scss */
  #vision .col {
    width: 33.33%;
  }

  /* line 684, ../sass/style.scss */
  #floormarketplace #marketplace div {
    width: 80%;
  }

  /* line 690, ../sass/style.scss */
  #main nav {
    width: 100%;
    position: absolute;
    top: -5px;
    padding-top: 75px;
  }
  /* line 695, ../sass/style.scss */
  #main nav ul {
    position: absolute;
    right: 0px;
    text-align: right;
  }
  /* line 699, ../sass/style.scss */
  #main nav ul li {
    clear: both;
    margin-bottom: 5px;
    line-height: 38px;
    opacity: 1;
    font-size: 1.3em;
    -moz-transform: translate(105%, 0);
    -o-transform: translate(105%, 0);
    -ms-transform: translate(105%, 0);
    -webkit-transform: translate(105%, 0);
    transform: translate(105%, 0);
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    float: right;
    text-align: right;
    margin-right: 0px;
  }
  /* line 710, ../sass/style.scss */
  #main nav ul li a {
    background-color: black;
    padding: 8px 8px 8px 8px;
    border: 1px solid white;
    box-sizing: border-box;
    opacity: .8;
  }
  /* line 723, ../sass/style.scss */
  #main nav.open ul li {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  /* line 726, ../sass/style.scss */
  #main nav.open ul li:nth-child(1) {
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
  }
  /* line 729, ../sass/style.scss */
  #main nav.open ul li:nth-child(2) {
    -moz-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
  }
  /* line 732, ../sass/style.scss */
  #main nav.open ul li:nth-child(3) {
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
  }
  /* line 735, ../sass/style.scss */
  #main nav.open ul li:nth-child(4) {
    -moz-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
  }
  /* line 738, ../sass/style.scss */
  #main nav.open ul li:nth-child(5) {
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms;
  }

  /* line 744, ../sass/style.scss */
  #navBtn {
    display: block;
  }
}
