/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 32, ../sass/style.scss */
.section, .wrapper, body, html {
  height: 100%;
  width: 100%;
}

/* line 36, ../sass/style.scss */
#main {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 100;
}
/* line 42, ../sass/style.scss */
#main li, #main h1 {
  line-height: 60px;
  font-family: sans-serif;
}
/* line 45, ../sass/style.scss */
#main li a, #main h1 a {
  color: white;
  text-decoration: none;
}
/* line 50, ../sass/style.scss */
#main h1 {
  float: left;
  margin-left: 20px;
}
/* line 54, ../sass/style.scss */
#main h1 a span {
  opacity: .4;
}
/* line 59, ../sass/style.scss */
#main nav {
  float: right;
  margin-right: 20px;
}
/* line 62, ../sass/style.scss */
#main nav li {
  float: left;
  margin-right: 20px;
  opacity: .4;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  font-size: .9em;
  font-weight: 100;
}
/* line 70, ../sass/style.scss */
#main nav li:last-of-type {
  margin-right: 0px;
}
/* line 73, ../sass/style.scss */
#main nav li:hover {
  opacity: 1;
}

/* line 79, ../sass/style.scss */
#splash {
  background: url(../img/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 85, ../sass/style.scss */
#splash .content {
  white-space: nowrap;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 91, ../sass/style.scss */
#splash .content h2 {
  border-bottom: 2px solid white;
  font-size: 10vw;
  line-height: 100%;
}
/* line 96, ../sass/style.scss */
#splash .content p {
  margin-top: 15px;
}
/* line 100, ../sass/style.scss */
#splash > p {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: white;
  cursor: hand;
  cursor: pointer;
  font-family: sans-serif;
}

/* line 109, ../sass/style.scss */
#film {
  overflow: hidden;
}

/* line 112, ../sass/style.scss */
video {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
}

/* line 117, ../sass/style.scss */
#vision {
  background-color: rgba(255, 255, 255, 0);
}
/* line 119, ../sass/style.scss */
#vision .col {
  float: left;
  width: 20%;
}
/* line 122, ../sass/style.scss */
#vision .col img {
  width: 100%;
  margin-bottom: -5px;
}

/* line 128, ../sass/style.scss */
#spaces {
  background-color: grey;
}
/* line 130, ../sass/style.scss */
#spaces > ul {
  width: 80%;
  margin: 0px auto;
  padding: 55px 0px;
}
/* line 134, ../sass/style.scss */
#spaces > ul * {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
/* line 137, ../sass/style.scss */
#spaces > ul > li {
  width: 33%;
  background-color: black;
  height: 200px;
  float: left;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 5px solid rgba(255, 255, 255, 0.4);
  color: white;
  position: relative;
  font-family: sans-serif;
  cursor: hand;
  cursor: pointer;
}
/* line 150, ../sass/style.scss */
#spaces > ul > li .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  opacity: 0;
}
/* line 156, ../sass/style.scss */
#spaces > ul > li .content h2 {
  font-size: 3.5em;
  text-decoration: underline;
  margin-bottom: 15px;
}
/* line 162, ../sass/style.scss */
#spaces > ul > li .content ul li {
  color: rgba(255, 255, 255, 0.4);
}
/* line 166, ../sass/style.scss */
#spaces > ul > li .content a {
  margin-top: 25px;
  padding: 0px 10px;
  line-height: 35px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
}
/* line 176, ../sass/style.scss */
#spaces > ul > li .content a:hover {
  background-color: white;
  color: black;
}
/* line 182, ../sass/style.scss */
#spaces > ul > li:hover {
  border: 5px solid white;
}
/* line 184, ../sass/style.scss */
#spaces > ul > li:hover .content {
  opacity: 1;
}

/* line 190, ../sass/style.scss */
#floorplans {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 196, ../sass/style.scss */
#floorplans #plans {
  height: 100%;
}

/* line 201, ../sass/style.scss */
footer {
  height: 400px;
  width: 100%;
  background-color: black;
  color: white;
}

@media (max-width: 1200px) {
  /* line 210, ../sass/style.scss */
  #vision .col:nth-child(4), #vision .col:nth-child(5) {
    display: none;
  }
  /* line 213, ../sass/style.scss */
  #vision .col {
    width: 33%;
  }

  /* line 220, ../sass/style.scss */
  #spaces ul li {
    width: 50%;
  }
}
@media (max-width: 640px) {
  /* line 229, ../sass/style.scss */
  #spaces ul li {
    width: 100%;
  }

  /* line 235, ../sass/style.scss */
  #vision .col:nth-child(3), #vision .col:nth-child(4), #vision .col:nth-child(5) {
    display: none;
  }
  /* line 238, ../sass/style.scss */
  #vision .col {
    width: 50%;
  }

  /* line 243, ../sass/style.scss */
  #main nav {
    display: none;
  }
}
